
.container { 
   padding: 80px 20px; 
   color: white; 
}

.wrapper { 
  max-width: 1200px;
  margin: auto;
 }

 .title { 
  text-align: center;
  font-size: 3rem;
  font-weight: bold; 
  background: linear-gradient(to right, #ededed, #dcdcdc); 
  -webkit-background-clip: text; 
  color: transparent; 
  margin-bottom: 10px; 
} 

.divider { 
  width: 120px; 
  height: 4px; 
  background: linear-gradient(to right, #8245ec, #a855f7); 
  border-radius: 2px; 
  margin: 0 auto 25px; 
}


 .subtitle { 
  text-align: center; 
  max-width: 600px; 
  margin: 0 auto 60px; 
  color: #b0b3c6; 
  line-height: 1.6; 
}

 .infoCard { 
  background-color: #111827; 
  backdrop-filter: blur(10px);
  padding: 30px; 
  border-radius: 16px; 
  margin: 0 auto 60px; 
  max-width: 900px; 
   box-shadow: 0 0 20px 1px rgba(130, 69, 236, 0.3); 
} 
.infoCard:hover { 
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(130, 69, 236, 0.5); 
} 

.infoCard h3 { 
  font-size: 22px; 
  font-weight: 600; 
  margin-bottom: 12px; 
  color: #fcfcfc; 
} 

.infoCard p { 
  font-size: 13px; 
  line-height: 1.7; 
  color: #ffffff; 
}
.name{
  font-size: 15px; 
  color: #8245ec;
  font-weight:500;
}
 .content { 
  display: flex; 
  gap: 40px; 
  flex-wrap: wrap; 
}

 .column { 
  flex: 1; 
  min-width: 280px; 
}
.titre{
  font-size: 30px;
  color: #8245ec;
}
 .sectionTitle { 
  font-size: 26px; 
  margin-bottom: 25px; 
  text-align: center;
}

 .card { 
  background: #111827; 
  border-radius: 15px; 
  padding: 20px; 
  margin-bottom: 20px; 
  transition: 0.3s ease; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
} 

.card:hover { 
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(130, 69, 236, 0.5); 
} 

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 5px; 
}

.card h3 { 
  margin-bottom: 8px; 
  font-size: 18px; 
} 

.card p { 
  color: #cbd5e1; 
  font-size: 14px; 
}

 .icon { 
  width: 42px; 
  height: 42px; 
  background: #1f2937; 
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 10px; 
  font-size: 18px; 
}

 .date { 
  background: #1f2937; 
  padding: 6px 14px; 
  border-radius: 20px; 
  font-size: 13px; 
  display: inline-block; 
  margin-bottom: 10px; 
}

 @media (max-width: 768px) 
 { .title { 
  font-size: 2.2rem; 
} 
.content { 
  flex-direction: column;
 } 
 
 .infoCard { 
  padding: 25px; 
} }