.homeSection {
  padding: 16px 7vw;
  font-family: sans-serif;
  margin-top: 64px;
  
}


@media (min-width: 768px) {
  .homeSection {
    margin-top: 96px;
  }
}

@media (min-width: 1024px) {
  .homeSection {
    padding: 16px 20vw;
    margin-top: 128px;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .homeContainer {
    flex-direction: row;
  }
}

.homeLeft {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .homeLeft {
    width: 50%;
    text-align: left;
    margin-top: 0;
  }
}

.homeRight {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .homeRight {
    width: 50%;
    justify-content: flex-end;
  }
}


.greeting {
  font-size: 1.875rem;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
  line-height: 1.25; 
}
@media (min-width: 640px) { 
  .greeting {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) { 
  .greeting {
    font-size: 3rem;
  }
}

.name {
  font-size: 2.25rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
   line-height: 1.25; 
}

@media (min-width: 640px) { 
  .name {
    font-size: 3rem;
  }
}

@media (min-width: 768px) { 
  .name {
    font-size: 3.75rem;
  }
}

.skills {
  font-size: 1.25rem;
  font-weight: 600;
  color: #8245ec;
  margin-bottom: 16px;
  line-height: 1.25; 
}
@media (min-width: 640px) { 
  .skills {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) { 
  .skills {
    font-size: 1.875rem;
  }
}

.skillsWhite {
  color: white;
}

.cursor {
  color: #8245ec;
}

.homeText {
  font-size: 1rem;
  color: #9ca3af;
  margin-top: 32px;
  margin-bottom: 40px;
  line-height: 1.7;
}
@media (min-width: 640px) { 
  .homeText {
    font-size: 1.125rem;   
  }
}

@media (min-width: 768px) { 
  .homeText {
    font-size: 1.125rem;
  }
}

.cvButton {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  background: linear-gradient(90deg, #8245ec, #a855f7);
  box-shadow: 0 0 2px #8245ec, 0 0 2px #8245ec, 0 0 40px #8245ec;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.cvButton:hover {
  transform: scale(1.05);
}


.profileWrapper {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #7e22ce;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 10px 20px rgba(130, 69, 236, 0.4));
}



.statsSection {
  display: flex;
  flex-direction: row; 
  gap: 1.5rem;
  margin-top: 0.2rem; 
  flex-wrap: wrap; 
  justify-content: center; 
}

@media(min-width: 768px) {
  .statsSection {
    justify-content: flex-end; 
  }
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8245ec;
}

.statText {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 0.2rem;
  text-align: center;
}
