.footer {
  background-color: #050414;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.contactInfo h3 {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #8245ec;
}

.navLinks ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0 0 20px 0;
}

.navLinks a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #8245ec;
}



.copyRight {
  margin-top: 12px;
  font-size: 0.85rem;
  color: #777;
}
